# Dependencies
/node_modules

# Compiled output
/dist

# Test coverage
/coverage

# Almacenamiento físico provisional de archivos subidos (desarrollo)
/storage/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
